<p id="notice"><%= notice %></p>

<h1>My Sqls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_sqls.each do |my_sql| %>
      <tr>
        <td><%= my_sql.title %></td>
        <td><%= my_sql.Content %></td>
        <td><%= link_to 'Show', my_sql %></td>
        <td><%= link_to 'Edit', edit_my_sql_path(my_sql) %></td>
        <td><%= link_to 'Destroy', my_sql, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Sql', new_my_sql_path %>
